@tailwind base;
@tailwind components;
@tailwind utilities;
/*
@layer base {
  body {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
  }

  body {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
  }
} */

@layer components {
  .prose-full {
    @apply leading-snug prose prose-neutral prose-blue dark:prose-invert;
  }

  .contact-item {
    @apply flex items-center;
  }

  .feather-container {
    @apply rounded-full w-[32px] h-[32px] shrink-0 flex items-center justify-center text-gray-100 mr-2 bg-gradient-custom;
  }

  .feather {
    width: 16px;
    height: 16px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }
}

@layer utilities {
  .darkOnly {
    display: none;
  }

  .dark .darkOnly {
    display: block;
  }

  .dark .lightOnly {
    display: none;
  }

  .bg-gradient-custom {
    @apply bg-gradient-to-tl from-indigo-700 via-blue-800 to-sky-700;
  }
}
