@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Fill is gray-900, #171717 */
    background-color: theme(colors.gray.100);
    background-position: center;
    background-image: url('/img/background.svg');
  }

  .dark body {
    /* Fill is gray-50, #fafafa */
    background-color: theme(colors.gray.800);
    background-image: url('/img/background-dark.svg');
  }
}

@layer components {
  .icon-background {
    @apply bg-gradient-colors mr-2 flex h-[32px] w-[32px] shrink-0 items-center justify-center rounded-full bg-gradient-to-b text-gray-100;
  }

  .icon {
    width: 16px;
    height: 16px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }
}

@layer utilities {
  .bg-gradient-colors {
    @apply from-indigo-700 via-blue-800 to-sky-700 dark:from-sky-700 dark:to-indigo-700;
  }
}
