@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    --fg-color: #00000008;
    background-size: 32px 32px;
    background-position: center;
    background-color: theme(colors.gray.100);
    background-image: linear-gradient(
        to right,
        var(--fg-color) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, var(--fg-color) 1px, transparent 1px);
  }

  .dark body {
    --fg-color: #ffffff07;
    background-color: theme(colors.gray.800);
  }
}

@layer components {
  .icon-background {
    @apply rounded-full w-[32px] h-[32px] shrink-0 flex items-center justify-center text-gray-100 mr-2 bg-gradient-to-b bg-gradient-colors hover:transition-all hover:rotate-[360deg] hover:duration-500;
  }

  .icon {
    width: 16px;
    height: 16px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }
}

@layer utilities {
  .bg-gradient-colors {
    @apply from-indigo-700 dark:from-sky-700 via-blue-800 to-sky-700 dark:to-indigo-700;
  }
}
